#home {
width: 100vh;
height: 300px;
margin-top: 50px;
margin-bottom: 10px;
border-radius: 5px;
}

.card {

    margin: auto;
    padding: 1rem;
    margin-bottom: 20px;
    

}

#profile {
    width: auto;
    height: 300px;
    margin-top: 1rem;
    border-radius: 0.5px;
}