{% extends 'base.html' %}
{% block title %}About Me{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row align-items-center">
      <div class="col-12 text-center justify-content-center">
        <h1 class="fw-light">About Me</h1><br>
      </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <img src="/static/profile_page.JPG" id="profile">
        </div>

        <div class="col-12 col-md-6 col-lg-9 ">
            <h4 class="fw-light" >Hello There,</h4><br>
            <p>I am Dayanna, originally from Brazil and I have been in the United States for 4 years. I am currently working as a nanny with a great passion for my job as a childcare worker. I have been working with children for about 5 years now and I also have a large experience of 10 years being an Executive Administrative Assistant in my hometown.</p>
        <br>
        <p>Due to my large experience as a nanny, I realized how hard it is to be a full time parent and also have to manage a full time job. Therefore, I decided I want to match my experiences, passion, and love for kids, with my loved professional career. I have a bachelorette degree in Brazil as Trilingual Executive Secretariat (Portuguese - Spanish - English) and also a post graduation in Business Management at one of the top Business Schools in Brazil.</p>
        <br>
        <p>I have worked in big companies as an Administrative assistant, Executive Assistant and Office Assistant. So, I would love to connect my experiences as an professional assistant and experienced nanny while being able to help busy parents around the world. That being said, besides being Available for babysitting your loved one, I am also available to help you out being your new Personal Assistant! If you would like to know more information about it, feel free to contact me or check my experiences and references on LINKEDIN and URBANSITTER . I hope I can help you to bring organization and free time for your busy schedule as a parent.</p>
        </div>
    </div>
  </div>
</div>










  <footer class="bg-dark-1">
    <section id="footer" class="py-5">
      <div class="container text-center">
        <a href="https://www.linkedin.com/in/dayanna-silva-811b4979/" target="_blank" class="social-icon si-rounded si-small si-linkedin" title="Check my LinkedIn" aria-hidden="true">
            <i class="bi bi-linkedin" style="font-size:30px; margin-right: 10px;"></i>  
         </a>
        <a href="tel:+16503092086" class="phone" title="Call Me" aria-hidden="true">
            <i class="bi bi-telephone-fill" style='font-size:30px'></i>
        </a>
        <a href="mailto:dayannasilvapa@gmail.com" class="email" title="Email Me" aria-hidden="true">
            <i class="bi bi-envelope-fill" style="font-size:30px; margin-right: 10px;"></i>
        </a>
        <a href="https://www.urbansitter.com/sitter/2945819" target="_blank" title="Check my UrbanSitter" aria-hidden="true">
            <i class="bi bi-people-fill" style="font-size:30px;"></i>
        </a>

      </div>
    </section>
  </footer>

  











  


{% endblock %}