{% extends 'base.html' %}
{% block title %}Helping Busy Parents{% endblock %}

{% block body %}

<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12  text-center">
          <img id="home"src="/static/homepage_pic.jpg" class="img-responsive" alt="Responsive image">
          <h1 class="fw-light">Personal Assistant For Busy Parents</h1><br>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

  <div class="row">
    <div class="col-12">
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere urna in arcu suscipit dictum. Phasellus elementum sagittis nisl quis vulputate. Nulla ac felis malesuada neque sodales imperdiet tempor a odio. Sed id nulla ut augue tincidunt aliquam. Fusce justo nisl, volutpat vestibulum eros vel, pretium fringilla enim. Vivamus in dignissim purus, vitae congue felis. Curabitur consectetur sem faucibus fringilla ultricies. Donec elit augue, pretium sed augue eu, porttitor finibus tellus. Curabitur odio lorem, vulputate nec fermentum non, semper nec tortor. Phasellus non felis tortor.

        Etiam hendrerit, urna in placerat cursus, odio tellus egestas diam, sed porta metus nulla sit amet dui. Fusce non neque sed nisi vestibulum vestibulum eget a neque. Etiam rhoncus ac enim a congue. Integer at cursus nisi, quis posuere augue. Sed sit amet suscipit leo. Etiam varius blandit cursus. Phasellus vitae felis mollis, sollicitudin dolor nec, tempor dui. Integer finibus tellus eget magna ultrices, ut venenatis lacus auctor. Praesent quis nulla malesuada, volutpat orci at, convallis lorem. Pellentesque tempus sapien metus, porta mattis sem porta sed. Mauris molestie felis metus. Nulla dignissim massa ac malesuada fermentum. Quisque sed leo elementum, volutpat massa sit amet, suscipit arcu. Etiam quis cursus justo. Donec facilisis, enim nec commodo egestas, enim ex malesuada ex, ut efficitur est turpis faucibus felis. Sed id scelerisque eros.
        
        Cras scelerisque, purus non vestibulum vestibulum, arcu ipsum mattis velit, a consequat mi enim a neque. Fusce eleifend nisl laoreet ex elementum euismod. Aenean et leo turpis. Suspendisse maximus, erat in fringilla pretium, tellus ligula consequat lorem, ut auctor risus arcu ac augue. Cras condimentum fringilla diam, ac fringilla quam faucibus ac. Vestibulum lobortis posuere lectus sed fermentum. Curabitur dui metus, condimentum sed est id, feugiat efficitur mi. In lorem lectus, pharetra vitae magna sed, vulputate posuere tortor. Nunc luctus non massa ut ultricies. Aliquam elementum, lectus et rhoncus hendrerit, ex orci imperdiet velit, condimentum bibendum justo eros a mauris. Proin volutpat lorem vel commodo pellentesque. Praesent id urna bibendum, fermentum lectus ac, posuere purus. Morbi pellentesque rutrum nisi, ut viverra urna viverra non.
        
        Mauris faucibus ex felis, gravida pharetra nulla maximus quis. Quisque ac iaculis erat, non varius est. Aenean id velit id arcu tempus sodales. Nulla finibus porttitor eros, luctus varius nibh faucibus at. Donec neque ex, malesuada id lacinia sit amet, mattis eleifend odio. Suspendisse hendrerit faucibus massa, in gravida ligula dictum in. Sed vehicula scelerisque purus vel auctor. Nullam faucibus sed mauris in mattis. Pellentesque at finibus purus. Nunc vehicula laoreet arcu vitae viverra. Nunc at libero mauris. Aliquam pulvinar, magna venenatis porttitor tempus, eros dolor feugiat diam, vitae aliquam justo est id neque. Nullam nisi leo, mollis eget vestibulum ut, posuere in massa. Aenean aliquet blandit elit sed fringilla. Sed sed pulvinar urna.
        
        Aliquam erat volutpat. In hac habitasse platea dictumst. Aliquam ullamcorper tincidunt congue. Aliquam vehicula arcu odio, sed faucibus nisl efficitur sit amet. Curabitur ac molestie leo, et congue metus. Donec elementum, orci a pulvinar dictum, turpis nisi tincidunt sapien, ac feugiat ipsum leo pellentesque dolor. Nunc volutpat felis sit amet nisl molestie scelerisque. In aliquet lacus ac purus gravida, id feugiat mauris elementum. In id sapien enim. Aenean in tincidunt risus, sit amet sodales enim. Suspendisse potenti.</p>
    </div>
  
    
  </div>
  </div>
  <p></p>




{% endblock %}