{% extends 'base.html' %}
{% block title %}Helping Busy Parents{% endblock %}

{% block body %}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="fw-light">Welcome to Personal Assistant For Busy Parents</h1>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="fw-light">I am happy you are here!</h2>
    <br>
    <p>Nowadays, we all know how hard it is to manage personal life, business schedules, kids social activities, and also a whole house program.</p>
  </div>
</section>









<!-- <section class="section mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <img alt="home" class="img-fluid" src="/static/homepage_pic.jpg" />
        </div>
      </div>
      <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
        <div>
          <h2>Personal Assistant For Busy Parents</h2>
          <br>
          <p class="margin-top-s">I’m elated to announce my little space with you all and soon to become part of your daily routine as your new Personal Assistant.

            Nowadays, we all know how hard it is to manage personal life, business schedules, kids social activities, and also a whole house program.
            
            Thinking about that, I created my new project and I’m extremely excited to show you about it!</p>
          <p>My main goal is to bring organization and free time to your every day life.
            
            I hope here you can find the help you always have been looking for. 
            
            I am sure I can assist you in so many different ways.</p> 
              
            
            <p>Come take a look!</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card text-center mb-3 mt-4" style="width: 50rem; ">

        <img src="/static/home.jpg" class="card-img-top" alt="homepage">
        </div>
    </div>
  </div>
</div> -->









<!-- <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12  text-center">
          <img id="home"src="/static/homepage_pic.jpg" class="img-responsive" alt="Responsive image">
          <h1 class="fw-light">Personal Assistant For Busy Parents</h1><br>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <p class="text-center">I’m elated to announce my little space with you all and soon to become part of your daily routine as your new Personal Assistant.

        Nowadays, we all know how hard it is to manage personal life, business schedules, kids social activities, and also a whole house program.
        
        Thinking about that, I created my new project and I’m extremely excited to show you about it! 
        
        My main goal is to bring organization and free time to your every day life.
        
        I hope here you can find the help you always have been looking for. 
        
        I am sure I can assist you in so many different ways.  
        
        Come take a look!</p>

    
  
    
  </div>
  </div> -->
  




{% endblock %}