{% extends 'base.html' %}
{% block title %}How It Works{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="row align-items-center">
      <div class="col-12 text-center justify-content-center">
        <h1 class="fw-light">How It Works?</h1><br>
      </div>
    </div>
  </div>

<div class="container mt-7 mb-7">
<div class="card text-center" style="width: 30rem;">
    <img src="/static/how-works.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">It is simple! Download the "Trello" App and add your task list. After that, you can easily share it with me by adding my email address. This way we can both be on the same page and you will be able to track every detail and updates. You will be able to add any additional information and get notifications when the task is done. Too busy for all of that? No problem! You can just easily e-mail or text me your task list. Whatever works best through out your busy day!.</p>
      <a href="https://trello.com/home" target="_blank" class="btn btn-primary">Trello</a>
    </div>
  </div>
</div>

{% endblock %}