{% extends 'base.html' %}
{% block title %}Pricing{% endblock %}

{% block body %}

<div class="container my-5">
  <h2><span class="text-uppercase font-weight-bold">Pricing</span></h2>

  <h2 class="fw-light">$35.00/hour</h2>
  <h3 class="fw-light">Minimum hour per booking: 2 hours</h3>
</div>
<div class="container my-5">
  <div class="text-center mb-5">
    <h1 class="text-capitalize font-weight-bold">Package <span class="headline">Plans</span></h1>
  </div>
  <strong>GENERAL ONLINE ASSISTANCE</strong>
  <div class="my-5 py-4 px-5 bg-light d-sm-flex align-items-center justify-content-between">
    <div class="text-center">
      <span>Package 1</span>
      <h1 class="my-2 font-weight-bold">$100</h1>
      <small class="text-uppercase text-secondary">3 Hours</small>
    </div>
    <div class="text-center text-uppercase text-secondary">
      <small class="d-block">Online Shopping</small>
      <small class="d-block my-3">Research Personalized Purchase</small>
    </div>
    
    <div class="text-center">
      <a href="mailto:dayannasilvapa@gmail.com" class="btn text-black px-5 py-3 main-btn">Get Started</a>
    </div>
  </div>

  <div class="my-5 py-4 px-5 bg-light d-sm-flex align-items-center justify-content-between">
    <div class="text-center">
      <span>Package 2</span>
      <h1 class="my-2 font-weight-bold">$200</h1>
      <small class="text-uppercase text-secondary">6 Hours</small>
    </div>
    <div class="text-center text-uppercase text-secondary">
      <small class="d-block">Manage Online Calendar</small>
      <small class="d-block my-3">Home and Office Secretarial Assistance</small>
    </div>
    <div class="text-center">
      <a href="mailto:dayannasilvapa@gmail.com" class="btn text-black px-5 py-3 main-btn">Get Started</a>
    </div>
  </div>

  <div class="my-5 py-4 px-5 bg-light d-sm-flex align-items-center justify-content-between">
    <div class="text-center">
      <span>Package 3</span>
      <h1 class="my-2 font-weight-bold">$200</h1>
      <small class="text-uppercase text-secondary">6 Hours</small>
    </div>
    <div class="text-center text-uppercase text-secondary">
      <small class="d-block">Plan travel, accommodations, flights</small>
      <small class="d-block my-3">Book Restaurants</small>
    </div>
    <div class="text-center">
      <a href="mailto:dayannasilvapa@gmail.com" class="btn text-black px-5 py-3 main-btn">Get Started</a>
    </div>
  </div>
  <br>
  <strong>IN PERSON ASSISTANCE</strong>
  <div class="my-5 py-4 px-5 bg-light d-sm-flex align-items-center justify-content-between">
    <div class="text-center">
      <span>Package 1</span>
      <h1 class="my-2 font-weight-bold">$100</h1>
      <small class="text-uppercase text-secondary">3 Hours</small>
    </div>
    <div class="text-center text-uppercase text-secondary">
      <small class="d-block"> Pickup groceries</small>
      <small class="d-block my-3">Take car to car wash</small>
      <small class="d-block my-3">Exchange/Return items to store</small>
    </div>
    
    <div class="text-center">
      <a href="mailto:dayannasilvapa@gmail.com" class="btn text-black px-5 py-3 main-btn">Get Started</a>
    </div>
  </div>

  <div class="my-5 py-4 px-5 bg-light d-sm-flex align-items-center justify-content-between">
    <div class="text-center">
      <span>Package 2</span>
      <h1 class="my-2 font-weight-bold">$67</h1>
      <small class="text-uppercase text-secondary">2 Hours</small>
    </div>
    <div class="text-center text-uppercase text-secondary">
      <small class="d-block">events setup</small>
    </div>
    <div class="text-center">
      <a href="mailto:dayannasilvapa@gmail.com" class="btn text-black px-5 py-3 main-btn">Get Started</a>
    </div>
  </div>
  <strong>KIDS ASSISTANCE</strong>
  <div class="my-5 py-4 px-5 bg-light d-sm-flex align-items-center justify-content-between">
    <div class="text-center">
      <span>Package </span>
      <h1 class="my-2 font-weight-bold">$200</h1>
      <small class="text-uppercase text-secondary">6 Hours</small>
    </div>
    <div class="text-center text-uppercase text-secondary">
      <small class="d-block">Research and enroll kids in extracurricular activities</small>
      <small class="d-block my-3">Manage Children's Calendar Schedule</small>
    </div>
    
    <div class="text-center">
      <a href="mailto:dayannasilvapa@gmail.com" class="btn text-black px-5 py-3 main-btn">Get Started</a>
    </div>
  </div>
  </div>
  
{% endblock %}