{% extends 'base.html' %}
{% block title %}Services{% endblock %}

{% block body %}
  <h1>Services</h1>
  <h2>General Online Assistance</h2>
  <ul>
    <li>Shopping (Christmas, Birthday gifts, groceries, etc.) </li>
    <li>Research personalized purchases</li>
    <li>Schedule parties, events</li>
    <li>Plan travel, accommodation, flights, and ground transportation</li>
    <li>Book restaurant reservations</li>
    <li>Social Media Management</li>
    <li>Post items to sell and buy online</li>
    <li>Manage online calendar such as Google, Outlook, etc</li>
    <li>Home and office secretarial assistant</li>
  </ul>

  <br>
  <h2>Kids Assistance</h2>
  <ul>
    <li>Research and enroll kids in extracurricular activities such as Summer camp, sports, courses, etc
    </li>
    <li>Manage children calendar’s schedules, school meetings/family events.</li>
    <li>Order library books</li> 
  </ul>

  <br>
  <h2>In Person Assistance</h2>
  <ul>
    <li>Run light errands</li>
    <li>Help with birthday parties, catering, events set up</li>
    <li>Exchange/return items to store</li>
    <li>Get car washed</li>
  </ul>

{% endblock %}